@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow-x: hidden;
}

.user-profile-dropdown {
    position: absolute;
    right: 10px;
    top: 70px;
}

.user-profile-dropdown li {
    background-color: black;
    color: white;
    width: 200px;
    top: 100px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
}

.user-profile-dropdown li:hover {
    background-color: antiquewhite;
    color: black;
}

/* Loader CSS */
.loader {
  width: 23px;
  height: 23px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 

/* Loader CSS */